.page        {
    bottom:0;
    padding-top:200px;
    position:absolute;
    text-align:center;
    top:0;
    width:100%;
}

.page h1    { font-size:60px; }
.page a     { margin-top:50px; }

/* PAGES (specific colors for each page)
============================================================================= */
.page-home      { background:#00D0BC; color:#00907c; }
.page-about     { background:#E59400; color:#a55400; }
.page-contact   { background:#ffa6bb; color:#9e0000; }

/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0% {
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    20% {
        -webkit-transform: rotateZ(10deg);
        -moz-transform: rotateZ(10deg);
        -ms-transform: rotateZ(10deg);
        -o-transform: rotateZ(10deg);
        transform: rotateZ(10deg);
        -webkit-animation-timing-function: ease-out;
        -moz-animation-timing-function: ease-out;
        -o-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    40% {
        -webkit-transform: rotateZ(17deg);
        -moz-transform: rotateZ(17deg);
        -ms-transform: rotateZ(17deg);
        -o-transform: rotateZ(17deg);
        transform: rotateZ(17deg);
    }
    60% {
        -webkit-transform: rotateZ(16deg);
        -moz-transform: rotateZ(16deg);
        -ms-transform: rotateZ(16deg);
        -o-transform: rotateZ(16deg);
        transform: rotateZ(16deg);
    }
    100% {
        -webkit-transform: translateY(100%) rotateZ(17deg);
        -moz-transform: translateY(100%) rotateZ(17deg);
        -ms-transform: translateY(100%) rotateZ(17deg);
        -o-transform: translateY(100%) rotateZ(17deg);
        transform: translateY(100%) rotateZ(17deg);
    }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to {
        -webkit-transform: translateZ(-3000px) rotateZ(360deg);
        opacity: 0;
        -moz-transform: translateZ(-3000px) rotateZ(360deg);
        -ms-transform: translateZ(-3000px) rotateZ(360deg);
        -o-transform: translateZ(-3000px) rotateZ(360deg);
        transform: translateZ(-3000px) rotateZ(360deg);
    }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from {
        opacity: 0.3;
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
    }
}

/* slide in from the right */
@keyframes slideInRight {
    from    {
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }
    to      {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    {
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%); }
    to      {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0); }
}

.ng-enter           {
    -webkit-animation: scaleUp 0.5s both ease-in; z-index:8888;
    -o-animation: scaleUp 0.5s both ease-in; z-index:8888;
    animation:scaleUp 0.5s both ease-in; z-index:8888;
}
.ng-leave           {
    -webkit-animation: slideOutLeft 0.5s both ease-in; z-index:9999;
    -o-animation: slideOutLeft 0.5s both ease-in; z-index:9999;
    animation:slideOutLeft 0.5s both ease-in; z-index:9999;
}

body {
    background: #ccc;
}
#cloud {
    width: 140px; height: 48px;

    background: #f2f9fe;
    background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);

    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;

    left:-300px;
    position: relative;
    margin: 120px auto 20px;
}

#cloud:after, #cloud:before {
    content: '';
    position: absolute;
    background: #f2f9fe;
    z-index: -1
}

#cloud:after {
    width: 50px; height: 50px;
    top: -30px; left: 70px;

    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

#cloud:before {
    width: 80px; height: 80px;
    top: -40px; right: 35px;

    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
}

.shadow {
    width: 70px;
    position: absolute;
    bottom: -10px;
    background: #000;
    z-index: -1;

    box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
}

#raindrop {
    background:#024b99;
    box-shadow: inset 1px -3px 4px -2px #c9e3f0;

    width:16px;
    height:16px;
    position:relative;
    left:30px;
    top:60px;
    border-radius:30px;

    animation: rain 1s both ease-in; z-index: 8888;
    animation-iteration-count:infinite;
}

#raindrop:before {
    content:'';
    position:absolute;
    left:1px;
    top:-10px;
    border-right: 7px solid transparent;
    border-bottom: 14px solid #024b99;
    border-left: 7px solid transparent;
    border-top: 0;
}

#raindrop2 {
    background:#024b99;
    box-shadow: inset 1px -3px 4px -2px #c9e3f0;

    width:16px;
    height:16px;
    position:relative;
    left:45px;
    top:60px;
    border-radius:30px;

    animation: rain 1s both ease-in; z-index: 8888;
    animation-iteration-count:infinite;
    animation-delay: 0.5s;
}

#raindrop2:before {
    content:'';
    position:absolute;
    left:1px;
    top:-10px;
    border-right: 7px solid transparent;
    border-bottom: 14px solid #024b99;
    border-left: 7px solid transparent;
    border-top: 0;
}

#raindrop3 {
    background:#024b99;
    box-shadow: inset 1px -3px 4px -2px #c9e3f0;

    width:16px;
    height:16px;
    position:relative;
    left:65px;
    top:60px;
    border-radius:30px;
    animation: rain 1s both ease-in; z-index: 8888;
    animation-iteration-count:infinite;
    animation-delay: 1.1s;
}

#raindrop3:before {
    content:'';
    position:absolute;
    left:1px;
    top:-10px;
    border-right: 7px solid transparent;
    border-bottom: 14px solid #024b99;
    border-left: 7px solid transparent;
    border-top: 0;
}

#raindrop4 {
    background:#024b99;
    box-shadow: inset 1px -3px 4px -2px #c9e3f0;

    width:16px;
    height:16px;
    position:relative;
    left:85px;
    top:60px;
    border-radius:30px;
    animation: rain 1s both ease-in; z-index: 8888;
    animation-iteration-count:infinite;
    animation-delay: 0.9s;
}

#raindrop4:before {
    content:'';
    position:absolute;
    left:1px;
    top:-10px;
    border-right: 7px solid transparent;
    border-bottom: 14px solid #024b99;
    border-left: 7px solid transparent;
    border-top: 0;
}

#raindrop5 {
    background:#024b99;
    box-shadow: inset 1px -3px 4px -2px #c9e3f0;
    display:block;
    width:16px;
    height:16px;
    position:relative;
    left:105px;
    top:10px;
    border-radius:30px;
    animation: rain 1s both ease-in; z-index: 8888;
    animation-iteration-count:infinite;
    animation-delay: 0.25s;
}

#raindrop5:before {
    content:'';
    position:absolute;
    left:1px;
    top:-10px;
    border-right: 7px solid transparent;
    border-bottom: 14px solid #024b99;
    border-left: 7px solid transparent;
    border-top: 0;
}

@keyframes rain {
    from    { transform:translateY(0px); }
    to      { transform: translateY(100px); }
}

#sun {
    width:100px;
    height:100px;
    border-radius:100px;
    background: linear-gradient(to bottom left, red, yellow);
    position: relative;
    left:400px;
    
    animation: sunpulse 2s; z-index: 8888;
    animation-iteration-count:infinite;
    animation-delay: 0.25s;
}

#sunray {
    position:absolute;
    width: 10px;
    left:45px;
    top: -50px;
    height: 10px;
    border-right: 5px solid transparent;
    border-bottom: 40px solid #FF4400;
    border-left: 5px solid transparent;
    border-top: 0;

}

#sunray2 {
    position:absolute;
    width: 10px;
    left:45px;
    top: -50px;
    height: 10px;
    border-right: 5px solid transparent;
    border-bottom: 40px solid #FF4400;
    border-left: 5px solid transparent;
    border-top: 0;

    transform: rotate(45deg) translate(4em, -1.5em) rotate(-45deg) rotate(45deg);
}

#sunray3 {
    position:absolute;
    width: 10px;
    height: 10px;
    left:45px;
    top: -50px;
    border-right: 5px solid transparent;
    border-bottom: 40px solid #FF4400;
    border-left: 5px solid transparent;
    border-top: 0;

    /*    animation: sunpulse 2s; z-index: 8888;
        animation-iteration-count:infinite;
        animation-delay: 0.25s;*/

    transform: rotate(90deg) translate(6em, -5.5em) rotate(-90deg) rotate(90deg);
}

#sunray4 {
    position:absolute;
    width: 10px;
    height: 10px;
    left:45px;
    top: -50px;
    border-right: 5px solid transparent;
    border-bottom: 40px solid #FF4400;
    border-left: 5px solid transparent;
    border-top: 0;

    /*    animation: sunpulse 2s; z-index: 8888;
        animation-iteration-count:infinite;
        animation-delay: 0.25s;*/

    transform: rotate(135deg) translate(4em, -9.5em) rotate(-135deg) rotate(135deg);
}

#sunray5 {
    position:absolute;
    width: 10px;
    height: 10px;
    left:45px;
    top: -50px;
    border-right: 5px solid transparent;
    border-bottom: 40px solid #ffff00;
    border-left: 5px solid transparent;
    border-top: 0;

    /*    animation: sunpulse 2s; z-index: 8888;
        animation-iteration-count:infinite;
        animation-delay: 0.25s;*/

    transform: rotate(180deg) translate(0, -11em) rotate(-180deg) rotate(180deg);
}

#sunray6 {
    position:absolute;
    width: 10px;
    height: 10px;
    left:45px;
    top: -50px;
    border-right: 5px solid transparent;
    border-bottom: 40px solid #ffff00;
    border-left: 5px solid transparent;
    border-top: 0;

    /*    animation: sunpulse 2s; z-index: 8888;
        animation-iteration-count:infinite;
        animation-delay: 0.25s;*/

    transform: rotate(180deg) translate(0, -11em) rotate(-180deg) rotate(180deg);
}

#sunray7 {
    position:absolute;
    width: 10px;
    height: 10px;
    left:45px;
    top: -50px;
    border-right: 5px solid transparent;
    border-bottom: 40px solid #ffff00;
    border-left: 5px solid transparent;
    border-top: 0;

    /*    animation: sunpulse 2s; z-index: 8888;
        animation-iteration-count:infinite;
        animation-delay: 0.25s;*/

    transform: rotate(225deg) translate(-4em, -9.5em) rotate(-225deg) rotate(225deg);
}

#sunray8 {
    position:absolute;
    width: 10px;
    height: 10px;
    left:45px;
    top: -50px;
    border-right: 5px solid transparent;
    border-bottom: 40px solid #ffff00;
    border-left: 5px solid transparent;
    border-top: 0;

    /*    animation: sunpulse 2s; z-index: 8888;
        animation-iteration-count:infinite;
        animation-delay: 0.25s;*/

    transform: rotate(-90deg) translate(-6em, -5.5em) rotate(90deg) rotate(-90deg);
}

#sunray9 {
    position:absolute;
    width: 10px;
    height: 10px;
    left:45px;
    top: -50px;
    border-right: 5px solid transparent;
    border-bottom: 40px solid #FF4400;
    border-left: 5px solid transparent;
    border-top: 0;

    /*    animation: sunpulse 2s; z-index: 8888;
        animation-iteration-count:infinite;
        animation-delay: 0.25s;*/

    transform: rotate(-45deg) translate(-4em, -1.5em) rotate(45deg) rotate(-45deg);
}

@keyframes sunpulse {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);;
    }
}