<div class="page" id="day" ng-app="morningRoutine">
<!--  <ng-include src="'partials/navbar/navbar.html'"></ng-include>-->
  <div ng-controller="dayCtrl" ng-swipe-left="nextPage()" ng-swipe-right="prevPage()">
    <div class="container">
      <div class="row weather">
            <div class="col-xs-6" id="box">
              <div id="weatherWrap">
                <div id="cloud" ng-show="rain">
                  <span class='shadow'></span>
                  <div id="raindrop"></div>
                  <div id="raindrop2"></div>
                  <div id="raindrop3"></div>
                  <div id="raindrop4"></div>
                  <div id="raindrop5"></div>
                </div>
                <div id="sun" ng-show="sun">
                  <span class='shadow'></span>
                  <div id="sunray"></div>
                  <div id="sunray2"></div>
                  <div id="sunray3"></div>
                  <div id="sunray4"></div>
                  <div id="sunray5"></div>
                  <div id="sunray6"></div>
                  <div id="sunray7"></div>
                  <div id="sunray8"></div>
                  <div id="sunray9"></div>
                </div>
              </div>
              <span>{{temp}}</span>
            </div>
            <div class="col-xs-6" id="box">
              <span>ShirtStuff</span>
            </div>
      </div>
      <div class="row breakfast">
        <div class="col-xs-6" id="box">
          <h4 class="standard-text box-child">Leave at: </br> {{ leavingTime() }}</h4>
        </div>
        <div class="col-xs-6" id="box">
          <img src="img/breakfast3.png" class="box-child"></img>
        </div>
      </div>
      <div class="row lunch">
        <div class="col-xs-6" id="box">
          <img src="img/lunchbox.png" class="box-child"></img>
        </div>
        <div class="col-xs-6" id="box">
          <img ng-src="img/{{ifLunchbox()}}" class="box-child"></img>
        </div>
      </div>
      <div class="row message">
        <div class="col-xs-12" id="box">
          <div id="messagebox" class="box-child">
            <h4 class="box-child" >{{ currentMessage }}</h4>
          </div>
        </div>
      </div>
      <div class="row date">
        <div class="col-xs-12" id="box">
          <h4 class="standard-text box-child">{{thisDate}}</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <a id="yesterday" class="btn" data-ng-click="changeDay($event)" href="#day/{{user}}/{{thisDate}}">Yesterday</a>
      <a id="today" class="btn" data-ng-click="changeDay($event)" href="#day/{{user}}/{{thisDate}}">Today</a>
      <a id="tomorrow" class="btn" data-ng-click="changeDay($event)" href="#day/{{user}}/{{thisDate}}">Tomorrow</a>
    </div>
  </div>
</div>
