<div class="page" id="day" ng-app="morningRoutine">
<!--  <ng-include src="'partials/navbar/navbar.html'"></ng-include>-->
  <div ng-controller="dayCtrl" ng-swipe-left="nextPage()" ng-swipe-right="prevPage()">
    <div class="container">
      <div class="row">
            <div class="col-xs-6" id="box">
              <div id="weatherWrap">
                <div id="cloud"><span class='shadow'></span>
                  <div id="raindrop"></div>
                  <div id="raindrop2"></div>
                  <div id="raindrop3"></div>
                  <div id="raindrop4"></div>
                  <div id="raindrop5"></div>
                </div>
                <div id="sun"><span class='shadow'></span>
                  <div id="sunray"></div>
                  <div id="sunray2"></div>
                  <div id="sunray3"></div>
                  <div id="sunray4"></div>
                  <div id="sunray5"></div>
                  <div id="sunray6"></div>
                  <div id="sunray7"></div>
                  <div id="sunray8"></div>
                  <div id="sunray9"></div>
                </div>
              </div>
                <p>TEMP MOFASA: {{weather}}</p>
            </div>
            <div class="col-xs-6" id="box">
              <span>ShirtStuff</span>
            </div>
      </div>
      <div class="row">
        <div class="col-xs-6" id="box">
          <p>Leave at: value</p>
        </div>
        <div class="col-xs-6" id="box">
          <span>PlateStuff?</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6" id="box">
          <p>This is a lunchbox</p>
        </div>
        <div class="col-xs-6" id="box">
          <span>This is a fridge</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" id="box">
          <p>UMBRELLA REMINDER</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" id="box">
          <p>DATE</p>
        </div>
      </div>
    </div>
    <div class="row">
      <a id="yesterday" class="btn" data-ng-click="changeDay($event)" href="#day/{{user}}/{{thisDate}}">Yesterday</a>
      <a id="today" class="btn" data-ng-click="changeDay($event)" href="#day/{{user}}/{{thisDate}}">Today</a>
      <a id="tomorrow" class="btn" data-ng-click="changeDay($event)" href="#day/{{user}}/{{thisDate}}">Tomorrow</a>
    </div>
  </div>
</div>
